KNOX BRASIL - BUSCAR UM PAGAMENTO.json
{
  "name": "Marketplace PZ - BUSCAR UM PAGAMENTO",
  "nodes": [
    {
      "parameters": {
        "path": "knox/get-payment",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "3df87e3d-9ddb-462d-b7dd-5f187dfe0297",
      "name": "Webhook",
      "webhookId": "2f83950d-9a48-4f36-bf5f-df11696241e3",
      "credentials": {
        "httpBasicAuth": {
          "id": "vRMUKE8HCgVxAmTo",
          "name": "Marketplace PZ"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a6f91875-b51f-4ca3-a3aa-c66ffced7925",
              "leftValue": "={{ $json.query['transaction-id'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "2761aa52-88ad-4f45-86d6-7a8786fa199c",
      "name": "VEIO PAYMENT_ID ?"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "{ \"error\": { \"message\": \"Erro ao criar consultar cobranca, os campos [ transaction-id ] são obrigatórios!\"} }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        448,
        160
      ],
      "id": "40b4d2f1-a679-480d-8730-6df6e63a29e0",
      "name": "ERRO PAYMENT-ID DONT EXISTS"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "payments",
          "mode": "list",
          "cachedResultName": "payments"
        },
        "where": {
          "values": [
            {
              "column": "transaction_id",
              "value": "={{ $json.query['transaction-id'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        448,
        -96
      ],
      "id": "b87682ea-5722-4a69-8c9d-ece47cf7f201",
      "name": "QUERY PAYMENT",
      "credentials": {
        "postgres": {
          "id": "CLLaGzc7PjjOcUpo",
          "name": "ZOMBOID_PAYMENTS"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        656,
        -96
      ],
      "id": "717d2307-b929-4a81-a213-bd35a17f30e1",
      "name": "RETURN"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "VEIO PAYMENT_ID ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VEIO PAYMENT_ID ?": {
      "main": [
        [
          {
            "node": "QUERY PAYMENT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERRO PAYMENT-ID DONT EXISTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QUERY PAYMENT": {
      "main": [
        [
          {
            "node": "RETURN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "92fb3fb1-3ae7-43ec-ba59-3b83904d37d0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f355c475c6d1659a26e4f1aa46ba196b2a8e906220725771f1e81be398390fb4"
  },
  "id": "udJRHdk7wgL2nC9wWUjYR",
  "tags": []
}