KNOX BRASIL - WEBHOOK PIX.json
{
  "name": "Marketplace PZ - WEBHOOK PIX",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "knox/lumes-pagamento-a7b8c9d0e1f2",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -64,
        0
      ],
      "id": "b6eda0c0-e2ee-432a-92d0-1db0dff7b85d",
      "name": "Webhook",
      "webhookId": "ebf8dbc1-41a5-494b-9601-59768443d7e0"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mercadopago.com/oauth/token",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_secret",
              "value": "lujKuCiavKRBeqKPnumE7qz2wHNOlyMz"
            },
            {
              "name": "client_id",
              "value": "8118134748025988"
            },
            {
              "name": "grant_type",
              "value": "client_credentials"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        368,
        -176
      ],
      "id": "1e57d88a-be6f-4af5-94f8-0547225a4987",
      "name": "LOGIN MERCADO PAGO"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4a604de3-fd9b-4a32-a03a-73ed9ae3ce2d",
              "leftValue": "={{ $json.access_token }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        -176
      ],
      "id": "c8e6a447-5907-44ee-a9b5-e89a93133c3c",
      "name": "LOGIN BEM SUCEDIDO?"
    },
    {
      "parameters": {
        "url": "=https://api.mercadopago.com/v1/payments/{{ $('Webhook').item.json.body.data.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer  {{ $json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        864,
        -32
      ],
      "id": "b95dd4e7-6cfa-4e52-96f3-7b03386f587b",
      "name": "GET_COBRANCA"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9f6d821d-17da-4cb4-b9bb-f3b0ae84fa09",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "payment.updated",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "c99932ec-3dd8-46fb-bf5d-f3f3edbd0562",
              "leftValue": "={{ $json.body.data.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "407b9554-09e4-41d0-8f85-faa8440ed842",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        144,
        0
      ],
      "id": "44ced7d3-67ad-4a92-97b7-d85e8a4c831f",
      "name": "PAYMENT UPDATED e ID EXISTE?"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "payments",
          "mode": "list",
          "cachedResultName": "payments"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "transaction_id": "={{ $('Webhook').item.json.body.data.id }}",
            "status": "error",
            "error": "Error when authenticating on Mercado Pago"
          },
          "matchingColumns": [
            "transaction_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "external_reference",
              "displayName": "external_reference",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "transaction_id",
              "displayName": "transaction_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "delivered",
              "displayName": "delivered",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "lumes",
              "displayName": "lumes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        864,
        -272
      ],
      "id": "90d7c30b-5e76-44f9-8604-4b4e545340d6",
      "name": "ERROR",
      "credentials": {
        "postgres": {
          "id": "CLLaGzc7PjjOcUpo",
          "name": "ZOMBOID_PAYMENTS"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fb20e076-bde8-41db-8d77-48d190a0f0ea",
              "leftValue": "={{ $json.date_approved }}",
              "rightValue": "",
              "operator": {
                "type": "dateTime",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1072,
        -32
      ],
      "id": "e9766e3e-7c7a-4005-b490-3896c2ab35fd",
      "name": "APPROVED?"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "payments",
          "mode": "list",
          "cachedResultName": "payments"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "delivered": false,
            "transaction_id": "={{ $('GET_COBRANCA').item.json.id }}",
            "status": "approved"
          },
          "matchingColumns": [
            "transaction_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "external_reference",
              "displayName": "external_reference",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "transaction_id",
              "displayName": "transaction_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "delivered",
              "displayName": "delivered",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lumes",
              "displayName": "lumes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1280,
        -160
      ],
      "id": "749d5ee0-b842-4f13-be98-c47a80898de2",
      "name": "SET APPROVED",
      "credentials": {
        "postgres": {
          "id": "CLLaGzc7PjjOcUpo",
          "name": "ZOMBOID_PAYMENTS"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "PAYMENT UPDATED e ID EXISTE?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOGIN BEM SUCEDIDO?": {
      "main": [
        [
          {
            "node": "ERROR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GET_COBRANCA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOGIN MERCADO PAGO": {
      "main": [
        [
          {
            "node": "LOGIN BEM SUCEDIDO?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PAYMENT UPDATED e ID EXISTE?": {
      "main": [
        [
          {
            "node": "LOGIN MERCADO PAGO",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "GET_COBRANCA": {
      "main": [
        [
          {
            "node": "APPROVED?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "APPROVED?": {
      "main": [
        [
          {
            "node": "SET APPROVED",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "ERROR": {
      "main": [
        []
      ]
    },
    "SET APPROVED": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "c4593f09-6500-4d4a-bfe2-263d58da122f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f355c475c6d1659a26e4f1aa46ba196b2a8e906220725771f1e81be398390fb4"
  },
  "id": "b8xK6bY8P-07y3kHRpmNa",
  "tags": []
}